<?xml version="1.0" encoding="UTF-8" ?>
<Config>
    <Module>
        <Name>Web</Name>
        <Description>Default Module - Example Project</Description>
        <Version>1.0</Version>
        <Weight>-100</Weight>
        <Enabled>true</Enabled>
    </Module>
    <Translate>
    </Translate>
    <Router>
        <Routes>
            <Route name="Front" path="/" controller="FrontController:index">
                <options>
                    <_query>true</_query>
                    <_i18n und="true"/>
                    <!--<_scheme>https</_scheme>-->
                </options>
                <schemes>
                    <scheme>https</scheme>
                    <scheme>http</scheme>
                </schemes>
                <methods>
                    <method>GET</method>
                </methods>
                <!--<host></host>-->
            </Route>
        </Routes>
    </Router>
    <Controller>
        <Front name="FrontController">
            <Action name="index">
                <View>
                </View>
            </Action>
        </Front>
    </Controller>
    <Event>
        <Listener event="controller.init" callback="onControllerInit"/>
    </Event>
    <View>
        <Resources>
            <JS>
                <resource scope="footer">
                    <value>js://vendor.js</value>
                </resource>
                <resource scope="footer">
                    <value>js://app.js</value>
                </resource>
            </JS>
            <CSS>
                <resource>
                    <value>css://default.css</value>
                </resource>
            </CSS>
            <META>
                <resource>
                    <value>title</value>
                    <properties>
                        <content>Example Module</content>
                    </properties>
                </resource>
                <resource>
                    <value>meta</value>
                    <properties>
                        <attributes>
                            <charset>utf8</charset>
                        </attributes>
                    </properties>
                </resource>
                <resource>
                    <value>meta</value>
                    <properties>
                        <attributes>
                            <name>ncore</name>
                            <content>v_3_4</content>
                        </attributes>
                    </properties>
                </resource>
                <resource>
                    <value>meta</value>
                    <properties>
                        <attributes>
                            <name>viewport</name>
                            <content>width=device-width, initial-scale=1.0</content>
                        </attributes>
                    </properties>
                </resource>
            </META>
        </Resources>
    </View>

</Config>