<?xml version="1.0" encoding="UTF-8" ?>
<Config>
    <Module>
        <Name>Dev</Name>
        <Description>Dev Module enables livereload</Description>
        <Version>1.0</Version>
        <Weight>-1000</Weight>
        <Enabled>true</Enabled>
    </Module>
    <View>
        <Resources>
            <JS>
                <resource external="true">
                    <value>//localhost:9002/livereload.js</value>
                </resource>
            </JS>
        </Resources>
    </View>
</Config>