<?xml version="1.0" encoding="UTF-8" ?>
<Config>
    <Module>
        <Name>Web</Name>
        <Description>Dev Module enables livereload</Description>
        <Version>1.0</Version>
        <Weight>-1000</Weight>
        <Enabled>true</Enabled>
    </Module>
    <Event>
        <Listener event="controller.init" callback="onControllerInit"/>
    </Event>
</Config>