/* Base Definitions
----------------------------------- */
@import "../config";

body {
  font-family: $defaultFont;
  font-size: $baseFontSize;
  color: $defaultFontColor;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}